<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="employeForm" ngNativeValidate (ngSubmit)="onSubmitForm()">
        <div class=" my form-group">
            <label for="nom">Nom</label>
            <input type="text" id="nom" class="form-control" formControlName="nom"
             placeholder="nom "  ngModel required >
          </div>
      
          <div class="my form-group">
            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" class="form-control" formControlName="prenom"
             placeholder="prenom "  ngModel required>
          </div>

          <div class="my form-group">
            <label for="intituleposte"> Poste occupé</label>
            <select class="form-control form-control-lg" id="intituleposte" formControlName="intituleposte">
              <option *ngFor="let poste of postes" [ngValue]="poste.IntitulePoste" > {{poste.IntitulePoste}} </option>
            </select>
        </div>
   
        <div class="my form-group">
            <label for="responsable"> Responsable</label>
            <select class="form-control form-control-lg" id="responsable" formControlName="responsable">
              <option  value="aucun"  > Aucun</option>
              <option *ngFor="let employe of employes" [ngValue]="employe" > {{employe.Nom}}  -- {{employe.Prenom}} </option>
            </select>
        </div>

        <div class="my form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email"
           placeholder="email "  ngModel required>
        </div>

        <div class=" my form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName="password"
           placeholder="password "  ngModel required>
        </div>

        <div class=" my form-group">
         
          <button class="pull-left"    type="submit" class="btn btn-primary">Ajouter l'employé</button>

          <button class="pull-right" style="float: right;"  type="submit" class="btn btn-primary" [routerLink]="'/employes'" >Annuler</button>
        </div>

     
    </form>
  </div>