<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Employes</h2>
      
        <ul class="list-group">
            <div *ngFor="let employe of employes; let i = index">
            <li class="list-group-item" >
              <h4 >{{ employe.Nom}}         {{   employe.Prenom}}          {{ employe.Poste }}
                <button type="button" (click)="onSupprimerEmploye(employe)" class="btn btn-danger pull-right"  >Supprimer</button>
              </h4>
              <a (click)="onModemploye(employe)"  >Détail </a>
              </li>
        </div>
        </ul>
         
        <button (click)="onNouveauEmploye()" class="btn btn-success"
        >Ajouter un employé</button>
      
      </div>
    </div>
  </div>
