
  
  <button type="button" (click)="onNouvelleDirection()" class="my btn btn-success">Ajouter Direction</button>


  <h1 style="margin-top: 15px; margin-bottom: 15px;">Les direction de l'entreprise</h1>
  <table class="table">
    <thead>
      <tr style="margin-top: 15px; margin-bottom: 15px;">
        <th scope="col">Matricule Direction</th>
        <th scope="col">Code Direction</th>
        <th scope="col">Intitule Direction</th>
		<th scope="col">Filiale Mére</th>
        <th scope="col">Action1</th>
        <th scope="col">Action2</th>
      </tr>
    </thead>
    <tbody>
      <tr   style="margin-top: 15px; margin-bottom: 15px;" *ngFor="let direction of directions">
        <th scope="row"> {{direction.CodePosition}}</th>
        <td> {{direction.CodeDirection}}</td>
        <td>{{ direction.IntituleDirection }}</td>
        <td *ngIf="direction.FilialeMere"> {{direction.FilialeMere.IntituleFiliale}}</td>
        <td *ngIf="!(direction.FilialeMere)">  /  </td>
        <td> <button type="button" (click)="onModifierDirection(direction)" class="btn btn-primary"  >Modifier</button></td>
        <td><button type="button" (click)="onSupprimerDirection(direction)" class="btn btn-danger"  >Supprimer</button></td>
      </tr>
    </tbody>
  </table>