
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Se connecter</h2>

        <form ngNativeValidate >

        <div class="form-group">
            <label for="username">
              Nom d'utilisateur  
              
            </label>
            <input type="text" id="username" class="form-control" name="username" placeholder="Entrer le nom d'utilisateur"  required>
        </div>

        <div class="form-group">
            <label for="password">
              password
            </label>
            <input type="password" id="password" class="form-control" name="password" placeholder="Entrer le mot de passe" required>
        </div>
        
        <button  type="submit" class="btn btn-primary"  (click)="onSignIn()" >Se connecter</button>
        
      </form>
    </div>
  </div>

