<form [formGroup]="serviceForm" ngNativeValidate (ngSubmit)="onSubmitForm()">

  <div class="my form-group">
    <label for="codeservice">Code Service</label>
    <input type="text" id="codeservice" class="form-control" formControlName="codeservice"
     placeholder="code service"  ngModel required>
   
  </div>

    <div class=" my form-group">
        <label for="intituleservice">Intitulé Service</label>
        <input type="text" id="intituleservice" class="form-control" formControlName="intituleservice"
         placeholder="intitule service"  ngModel required>
         <p class="red" *ngIf="serviceexistante">Service existante !</p>
      </div>

      <div class="my form-group">
        <label for="intitulemere"> Direction Mère </label>
        <select class="form-control form-control-lg" formControlName="intitulemere">
          <option *ngFor="let direction of directions" [ngValue]="direction" > {{direction.IntituleDirection}} </option>
        </select>
    </div>

  

    <div class=" my form-group">
      <button  class="pull-left" type="submit" class="btn btn-primary">Ajouter le service</button>

      <button class="pull-right" style="float: right;"  type="submit" class="btn btn-primary" [routerLink]="'/services'" >Annuler</button>
    </div>
</form>

