
  
  <button type="button" (click)="onNouvelleFiliale()" class="my btn btn-success">Ajouter Filiale</button>


  <h1 style="margin-top: 15px; margin-bottom: 15px;">Les filiale de l'entreprise</h1>
  <table class="table">
    <thead>
      <tr style="margin-top: 15px; margin-bottom: 15px;">
        <th scope="col">Matricule Filiale</th>
        <th scope="col">Code Filiale</th>
        <th scope="col">Intitule Filiale</th>
		<th scope="col">Division Mére</th>
        <th scope="col">Action1</th>
        <th scope="col">Action2</th>
      </tr>
    </thead>
    <tbody>
      <tr   style="margin-top: 15px; margin-bottom: 15px;" *ngFor="let filiale of filiales">
        <th scope="row"> {{filiale.CodePosition}}</th>
        <td> {{filiale.CodeFiliale}}</td>
        <td>{{ filiale.IntituleFiliale }}</td>
        <td *ngIf="filiale.DivisionMere"> {{filiale.DivisionMere.IntituleDivision}}</td>
        <td *ngIf="!(filiale.DivisionMere)">  /  </td>
        <td> <button type="button" (click)="onModifierFiliale(filiale)" class="btn btn-primary"  >Modifier</button></td>
        <td><button type="button" (click)="onSupprimerFiliale(filiale)" class="btn btn-danger"  >Supprimer</button></td>
      </tr>
    </tbody>
  </table>