<form [formGroup]="posteForm" ngNativeValidate (ngSubmit)="onSubmitForm()">

    <div class="my form-group">
        <label for="intituleposte">Intitulé Poste</label>
        <input type="text" id="intituleposte" class="form-control" formControlName="intituleposte"
         placeholder="intitule poste"  ngModel required>
         <p class="red" *ngIf="posteexistante">Poste existante !</p>
      </div>
     
      <div class="my form-group">
        <label for="categorieposte">Catégorie Poste</label>
        <input type="text" id="categorieposte" class="form-control" formControlName="categorieposte"
         placeholder="categorie poste"  ngModel required>
        </div>
          
        <div class="my form-group">
            <label for="division"> Division</label>
            <select class="form-control form-control-lg" formControlName="division">
              <option  value="aucune"  > Aucune</option>
              <option *ngFor="let division of divisions" [ngValue]="division" > {{division.IntituleDivision}} </option>
            </select>
        </div>

        <div class="my form-group">
            <label for="filiale"> Filiale</label>
            <select class="form-control form-control-lg" formControlName="filiale">
              <option  value="aucune"  > Aucune</option>
              <option *ngFor="let filiale of filiales" [ngValue]="filiale" > {{filiale.IntituleFiliale}} </option>
            </select>
        </div>

        <div class="my form-group">
            <label for="direction"> Direction</label>
            <select class="form-control form-control-lg" formControlName="direction">
              <option  value="aucune"  > Aucune</option>
              <option *ngFor="let direction of directions" [ngValue]="direction" > {{direction.IntituleDirection}} </option>
            </select>
        </div>

        <div class="my form-group">
            <label for="service"> Service</label>
            <select class="form-control form-control-lg" formControlName="service">
              <option  value="aucune"  > Aucune</option>
              <option *ngFor="let service of services" [ngValue]="service" > {{service.IntituleService}} </option>
            </select>
        </div>

        <div class=" my form-group">
         
         
          <button class="pull-left"    type="submit" class="btn btn-primary">Ajouter le poste</button>

          <button class="pull-right" style="float: right;"  type="submit" class="btn btn-primary" [routerLink]="'/postes'" >Annuler</button>
        </div>

    
</form>

