
  <button type="button" (click)="onNouvelleDivision()" class="my btn btn-success">Ajouter Division</button>


  <h1 style="margin-top: 15px; margin-bottom: 15px;">Les division de l'entreprise</h1>
  <table class="table">
    <thead>
      <tr style="margin-top: 15px; margin-bottom: 15px;">
        <th scope="col">Matricule Division</th>
        <th scope="col">Code Division</th>
        <th scope="col">Intitule Division</th>
        <th scope="col">Action1</th>
        <th scope="col">Action2</th>
      </tr>
    </thead>
    <tbody>
      <tr   style="margin-top: 15px; margin-bottom: 15px;" *ngFor="let division of divisions">
        <th scope="row"> {{division.CodePosition}}</th>
        <td> {{division.CodeDivision}}</td>
        <td>{{ division.IntituleDivision }}</td>
        <td> <button type="button" (click)="onModifierDivision(division)" class="btn btn-primary"  >Modifier</button></td>
        <td><button type="button" (click)="onSupprimerDivision(division)" class="btn btn-danger"  >Supprimer</button></td>
      </tr>
    </tbody>
  </table>