
  
  <button type="button" (click)="onNouvelleService()" class="my btn btn-success">Ajouter Service</button>


  <h1 style="margin-top: 15px; margin-bottom: 15px;">Les service de l'entreprise</h1>
  <table class="table">
    <thead>
      <tr style="margin-top: 15px; margin-bottom: 15px;">
        <th scope="col">Matricule Service</th>
        <th scope="col">Code Service</th>
        <th scope="col">Intitule Service</th>
	    	<th scope="col">Direction Mére</th>
        <th scope="col">Action1</th>
        <th scope="col">Action2</th>
      </tr>
    </thead>
    <tbody>
      <tr   style="margin-top: 15px; margin-bottom: 15px;" *ngFor="let service of services">
        <th scope="row"> {{service.CodePosition}}</th>
        <td> {{service.CodeService}}</td>
        <td>{{ service.IntituleService }}</td>
        <td> {{service.DirectionMere.IntituleDirection}}</td>
        <td> <button type="button" (click)="onModifierService(service)" class="btn btn-primary"  >Modifier</button></td>
        <td><button type="button" (click)="onSupprimerService(service)" class="btn btn-danger"  >Supprimer</button></td>
      </tr>
    </tbody>
  </table>