<!--

    <mat-toolbar class="bg-primary">
      <mat-toolbar-row >
        <button mat-icon-button >
          <mat-icon  (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>Entretien Annuel Individuel</h1>
      
      </mat-toolbar-row>
    
    </mat-toolbar>
    
        
        <mat-sidenav-container >
          
          <mat-sidenav #sidenav >
          
            <mat-nav-list >     
             
              <a style="padding-left: 20px; padding-right: 20px;" mat-list-item [routerLink]="'/divisions'"  > Divisions </a>
      <a style="padding-left: 20px; padding-right: 20px;" mat-list-item [routerLink]="'/filiales'"> Filiales  </a>
      <a style="padding-left: 20px; padding-right: 20px;" mat-list-item [routerLink]="'/directions'"> Directions </a>
      <a style="padding-left: 20px; padding-right: 20px;" mat-list-item [routerLink]="'/services'"> Services </a>
      <a style="padding-left: 20px; padding-right: 20px;" mat-list-item [routerLink]="'/postes'"> Postes </a>
      <a style="padding-left: 20px; padding-right: 20px;" mat-list-item [routerLink]="'/employes'"> Employes </a>
      <a style="padding-left: 20px; padding-right: 20px;" mat-list-item (click)="sidenav.toggle()"  mat-list-item>Ferme</a>
   
            </mat-nav-list>
          
          </mat-sidenav>
        
          <mat-sidenav-content >
            <div  class="container" style="height: 88vh;">
              <div class="row">
              <router-outlet></router-outlet>
            </div>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
        -->
        <app-auth>

        </app-auth>
        

     