<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="divisionForm" ngNativeValidate (ngSubmit)="onSubmitForm()">

      <div class=" my form-group">
        <label for="codedivision">Code Division</label>
        <input type="text" id="codedivision" class="form-control" formControlName="codedivision"
         placeholder="code division"  ngModel required>
      </div>

      <div class=" my form-group">
        <label for="intituledivision">Intitulé Division</label>
        <input type="text" id="intituledivision" class="form-control" formControlName="intituledivision"
         placeholder="intitule division"  ngModel required>
         <p class="red" *ngIf="divisionexistante">Division existante !</p>
      </div>

      <div class=" my form-group">
      
        <button  class="pull-left"   type="submit" class="btn btn-primary">Ajouter la division</button>

        <button class="pull-right" style="float: right;"  type="submit" class="btn btn-primary" [routerLink]="'/divisions'" >Annuler</button>
      </div>

     
    </form>
  </div>