<ul class="list-group">
    <h1>Les postes de l'entreprise</h1>
      <li class="list-group-item" *ngFor="let poste of postes">
        <h3>Intitulé Poste : {{ poste.IntitulePoste }}
          <button type="button" (click)="onSupprimerPoste(poste)" class="btn btn-danger pull-right"  >Supprimer</button>
         </h3>   
      </li>
     
    </ul>
    <button type="button" (click)="onNouvellePoste()" class="btn btn-success">Ajouter Poste</button>