
<div class="container">
 

    <div>
        <h2>OBJECTIF GROUPE</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" sortable="objectif" >Objectif</th>
    <th scope="col" sortable="pondération" >Pondération</th>
    <th scope="col" sortable="plandaction" >Plan d'action</th>
    <th scope="col" sortable="kpi" >KPI</th>
    <th scope="col" sortable="cible" >Cible</th>
    <th scope="col" sortable="Evaluation" >Evaluation</th>
  </tr>
  </thead>
  <tbody>
  <tr >
    <td> <input type="text" id="objectifgroupe" class="form-control" value="" > </td>
    <td><input type="text" id="pondérationgroupe" class="form-control" ></td>
    <td><input type="text" id="plandactiongroupe" class="form-control" ></td>
    <td><input type="text" id="kpigroupe" class="form-control" ></td>
    <td><input type="text" id="ciblegroupe" class="form-control" ></td>
    <td><input type="text" id="Evaluationgroupe" class="form-control" ></td>
  </tr>
  </tbody>
</table>

<button type="button"  class="btn btn-primary pull-left"  >Enregistrer les modifications</button>
<button type="button"  class="btn btn-primary pull-right"  >Annuler</button>
</div> 
<br><br>

<div>
    <h2>OBJECTIFS DIVISIONS</h2>
    <div *ngFor="let division of divisions; let i=index" >
    <h3> {{division.IntituleDivision}}</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" sortable="objectif" >Objectif</th>
        <th scope="col" sortable="pondération" >Pondération</th>
        <th scope="col" sortable="plan d'action" >Plan d'action</th>
        <th scope="col" sortable="kpi" >KPI</th>
        <th scope="col" sortable="cible" >Cible</th>
        <th scope="col" sortable="Evaluation" >Evaluation</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <td> <input type="text" id="objectifdivision{{division.IntituleDivision}}" class="form-control"   ></td>
        <td><input type="text" id="pondérationdivision{{division.IntituleDivision}}" class="form-control" >  </td>
        <td><input type="text" id="plandactiondivision{{division.IntituleDivision}}" class="form-control"  ></td>
        <td><input type="text" id="kpidivision{{division.IntituleDivision}}" class="form-control"  [(ngModel)]="val"></td>
        <td><input type="text" id="cibledivision{{division.IntituleDivision}}" class="form-control" ></td>
        <td><input type="text" id="Evaluationdivision{{division.IntituleDivision}}" class="form-control" ></td>
      </tr>
      </tbody>
    </table>
    <button type="button"  class="btn btn-primary pull-left" (click)="onEnregistrerDiv(division)" >Enregistrer les modifications</button>
    <button type="button"  class="btn btn-primary pull-right"  >Annuler</button>
    <br><br>
  </div>
  
</div> 
<br><br>

<div>
  <h2>OBJECTIFS FILIALES</h2>
    <div *ngFor="let filiale of filiales; let i=index" >
    <h3> {{filiale.IntituleFiliale}}</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" sortable="objectif" >Objectif</th>
        <th scope="col" sortable="pondération" >Pondération</th>
        <th scope="col" sortable="plan d'action" >Plan d'action</th>
        <th scope="col" sortable="kpi" >KPI</th>
        <th scope="col" sortable="cible" >Cible</th>
        <th scope="col" sortable="Evaluation" >Evaluation</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <td> <input type="text" id="objectiffiliale{{i}}" class="form-control" ></td>
        <td><input type="text" id="pondérationfiliale{{i}}" class="form-control" ></td>
        <td><input type="text" id="plandactionfiliale{{i}}" class="form-control" ></td>
        <td><input type="text" id="kpifiliale{{i}}" class="form-control" ></td>
        <td><input type="text" id="ciblefiliale{{i}}" class="form-control" ></td>
        <td><input type="text" id="Evaluationfiliale{{i}}" class="form-control" ></td>
      </tr>
      </tbody>
    </table>
    <button type="button"  class="btn btn-primary pull-left"  >Enregistrer les modifications</button>
    <button type="button"  class="btn btn-primary pull-right"  >Annuler</button>
    <br><br>
  </div>
  
</div> 
<br>
  </div>
 