<form [formGroup]="filialeForm" ngNativeValidate (ngSubmit)="onSubmitForm()">

  <div  class=" my form-group">
    <label for="codeefiliale">Code Filiale</label>
    <input type="text" id="codeefiliale" class="form-control" formControlName="codefiliale"
     placeholder="code filiale"  ngModel required>

  </div>

    <div class=" my form-group">
        <label for="intitulefiliale">Intitulé Filiale</label>
        <input type="text" id="intitulefiliale" class="form-control" formControlName="intitulefiliale"
         placeholder="intitule filiale"  ngModel required>
         <p class="red" *ngIf="filialeexistante">Filiale existante !</p>
      </div>
     
      <div class=" my form-group">
        <label for="intitulemere">Division Mère</label>
        <select class="form-control form-control-lg" formControlName="intitulemere">
          <option  value="aucune"  > Aucune</option>
          <option *ngFor="let division of divisions" [ngValue]="division" > {{division.IntituleDivision}} </option>
        </select>
    </div>

   <div class=" my form-group">
    <button class="pull-left"   type="submit" class="btn btn-primary">Ajouter la filiale</button>
  
    <button class="pull-right" style="float: right;"  type="submit" class="btn btn-primary" [routerLink]="'/filiales'" >Annuler</button>
  </div>

</form>