<form [formGroup]="directionForm" ngNativeValidate (ngSubmit)="onSubmitForm()">

  <div class="my form-group">
    <label for="codedirection">Code Direction</label>
    <input type="text" id="codedirection" class="form-control" formControlName="codedirection"
     placeholder="code direction"  ngModel required>
   
  </div>

    <div class="my form-group">
        <label for="intituledirection">Intitulé Direction</label>
        <input type="text" id="intituledirection" class="form-control" formControlName="intituledirection"
         placeholder="intitule direction"  ngModel required>
         <p class="red" *ngIf="directionexistante">Direction existante !</p>
      </div>

      <div class="my form-group">
        <label for="intitulemere">Filiale Mère</label>
        <select class="form-control form-control-lg" formControlName="intitulemere">
          <option  value="aucune"  > Aucune</option>
          <option *ngFor="let filiale of filiales" [ngValue]="filiale" > {{filiale.IntituleFiliale}} </option>
        </select>
    </div>

    <div class=" my form-group">
      <button  class="pull-left" type="submit" class="btn btn-primary">Ajouter la direction</button>

      <button class="pull-right" style="float: right;"  type="submit" class="btn btn-primary" [routerLink]="'/services'" >Annuler</button>
    </div>

    
</form>

